In [1]:
import mysql.connector
import pandas as pd
import numpy as np
import torch
import re
import matplotlib.pyplot as plt

In [2]:
connection = mysql.connector.connect(
            host='localhost',
            user='root',
            password='@America155088',
            database='PPT'
            )

In [3]:
query = """ SELECT * FROM posts_details"""
df = pd.read_sql(query, connection)

/var/folders/xp/1gy0dsh531s017q00bdzwmgw0000gn/T/ipykernel_50127/2071830198.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [4]:
df.dropna(inplace=True)

In [6]:
df = df.drop(df[df['category'] == 'Re: [問卦] 女孩：我有藝術家脾氣 這啥意思？'].index)

In [28]:
df['category'].value_counts()

category
Gossiping    6083
C_Chat        634
NBA            55
Stock          30
Name: count, dtype: int64

In [32]:
def most_comment_post(data):
    max_comment = data['comments'].str.split('/').apply(lambda x: len(x)).max()
    print(f'max comment:{max_comment}')
    return data[data['comments'].str.split('/').apply(lambda x: len(x)) == max_comment]

In [36]:
most_comment_post(df[df['category'] == 'Gossiping'])

max comment:1499

,id,title,author,date,content,comments,category
3128,3129,Re: [問卦] 所以當年一堆國家送我們AZ，是早知道?,ivorysoap (ivorysoap),Fri May 3 13:26:07 2024,"['※ 引述《lauwei (lauwei)》之銘言：\n', ': 唉不是阿，AZ居然被證...",爆發前明明就一堆自費疫苗多到要丟掉==/哪有啥 大家都在等/當時有看新聞都知道吧/又在洗記憶...,Gossiping

In [33]:
most_comment_post(df[df['category'] == 'Stock'])

max comment:244

,id,title,author,date,content,comments,category
5655,5656,Re: [新聞] 股神狠砍蘋果！波克夏對蘋果持股大減13％,cpa0426 (CC),Sun May 5 12:51:44 2024,去研究了一下巴菲特的背景，股神巴菲特的父親曾是證券經紀員，之後還擔任兩任的議員，還成立了一間...,如果我有他那個環境，我也是在高盛的辦公室裡面玩/玩具/或者像超哥有那個環境跟資源的話，現在一...,Stock

In [34]:
most_comment_post(df[df['category'] == 'C_Chat'])

max comment:1475

,id,title,author,date,content,comments,category
5995,5996,[討論] [Vtub] Hololive 晚間直播單 (1130505),laptic (靜夜聖林彼岸花),Sun May 5 18:00:23 2024,資料來源： 七詩無銘 電台 アルランディス 魔物獵人：世界 冰原 白上フブキ、人生つみこ、で...,博士開/好耶 還有法環/博士開/乙/洋蔥打太久急了就貪//開著空媽歌回看阿夸受難(X/博士有...,C_Chat

In [35]:
most_comment_post(df[df['category'] == 'NBA'])

max comment:1498

,id,title,author,date,content,comments,category
5590,5591,[Live] 灰狼 @ 金塊 (西區第二輪Game1),jason911152 (你不要過來啊),Sun May 5 06:30:01 2024,明尼蘇達灰狼(0-0)VS丹佛金塊(0-0) Game1 即時分數: Mike Conley...,金塊加油//森林狼贏6-10/這場刺激/金塊罰球應該會比較多 買一張樂透/阿肥加油/金塊主場...,NBA